HOST=https://logistic-37qz.onrender.com
DEV=1
PORT=8000
SOCKET_PORT=5000
SOCKET_SERVER=http://localhost:5000
BUILD_DIST="../frontend/build/"
MONGO_URI=""
SESSION_NAME=logistic
JWT_SECRET_KEY=logistics_webapp
JWT_REFRESH_SECRET_KEY=logistics_webapp_refresh
MAIL_SERVICE=
MAIL_HOST=
PASS_MAIL_HOST=
PHONE_NUMBER=
TWILIO_SID=
TWILIO_AUTH_TOKEN=
CLOUD_NAME = YOUR CLOUD NAME HERE
API_KEY = YOUR API KEY HERE
API_SECRET = YOUR API SECRET HERE
REDIS_URL ='redis://default:aQ7v6IGOQzqYVQh0fpPIoaQ9G6EVaDhr@redis-17806.c85.us-east-1-2.ec2.cloud.redislabs.com:17806'
HOST = 'https://web-wine-kappa.vercel.app'
DEV_URL = "http://localhost:3000"
